.time-picker {
  text-transform: uppercase;
  height: 300px;
  width: 200px;
  overflow-y: scroll;

}

.disabled {
  color: gray;
  cursor: not-allowed;
}

.selected {
  background: #2f0080;
  color: white;
}

.slot {
  padding: 5px 10px;
  border-radius: 5px;
  margin: 5px;
}
